*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    
    --transition:all 400ms ease ;

    --container-width-lg: 75%;
    --container-width-md: 86%;
    --container-width-sm: 90%;
}
a{
    text-decoration: none;
    color: white;
}
li{
    list-style: none;
    padding: 10px;
}
body{
    padding: 0;
    margin:0;
    color: WHITE;
    background-size:cover;
	background-position: center;
    /* background:linear-gradient(to right,#0b6a92,rgb(192, 165, 13)); */
    /* padding: 0px 12px ; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana;
    background-image: url(/images/pexels-james-wheeler-1519088.jpg);
}
.leftside{
    position:fixed;
    background:linear-gradient(to right,#0b6a92,rgb(194, 166, 56));
    margin-left: -11px;
    margin-top: -101px;
    width: 21%;
    /* max-width: auto; */
    height: 760px;
    padding-left: 30px;
    font-family: Segoe UI;
    color: white;
    border-radius: 0px 0px 60px 0px;
}
.leftside .myimage img{
    margin-top: 20px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 4px solid rgb(236, 184, 14);
}
.leftside ul li a{
    color: white;
}
.leftside ul li a::after{
    color: tomato;
    content: '';
    width: 0%;
    height: 5px;
    background-color:orange;
    display: block;
}
.leftside ul li a:hover::after{
    width: 25%;
}
@media screen AND (max-width: 600px){
    .leftside{
        position: relative;
        margin: 0 auto;
        /* display: grid; */
        width: var(--container-width-sm);
        margin-left: 10px;
        margin-top: 10px;
        height: 700px;
    }
    .leftside .myimage img{
        object-fit: cover;
        width: 230px;
        height: 230px;
        /* border-radius: 30%; */
        border: 4px solid rgb(236, 184, 14);
    }
    .leftside ul li a:hover::after{
        width: 35%;
    }
    .nav-links ul li a{
        /* position: relative; */
        display: inline;
        list-style: none;
        padding: 0px;
    }
    .footer{
        display: none;
    }
    
}
@media  (min-width:600px) AND (max-width: 1024px){
    .leftside{
        position: relative;
        margin: 0 auto;
        display: inline-flex;
        /* height: 0 auto; */
        width: var(--container-width-md);
        margin-left: 50px;
        margin-top: 13px;
        font-size: 23px;
    }
    .footer{
        display: none;
    }
    .nav-links ul li a{
        display: flex;
        list-style: none;
        padding: 2px;
    }
    .header{
        margin-top: 30px;
        margin-left: 30px;
    }
    .nav-links{
        margin-top: 160px;
        margin-left: -200px;
    }
}
/* =======================home========================== */
#home{
    display: grid;
    margin-top: 100px;
    margin-left: 600px;
}
.greatings{
    font-size: 50px;
    font-weight: bold;
}
.cv{
    background:linear-gradient(to right,#869399,rgb(192, 165, 13));
    padding: 10px;
    border-radius: 4px;
    margin-top: 80px;
    width: 20%;
}
.cv:hover{
    border:2px solid greenyellow;
    background: rgb(122, 129, 230);
    transition:0s;
}
@media screen AND (max-width: 600px){
    /* .allcontainer{
        display: grid;
    } */
    #home{
        display: grid;
        margin-top: 30px;
        margin-left: 50px;
        /* width: var(--container-width-sm); */
        width: 90%;
    }
    .greatings{
        font-size: 20px;
        font-weight: bold;
    }
    .cv{
        width: 35%;
    }
}
@media  (min-width:600px) AND (max-width: 1024px){
    #home{
        display: grid;
        margin-top: 30px;
        margin-left: 50px;
        /* width: var(--container-width-sm); */
        width: 90%;
    }
    .cv{
        width: 40%;
        font-size: 40px;
    }
}

/* ===========================abot me=============== */
#about{
    display: grid;
    margin-left: 380px;
    margin-top:240px;
    gap: 50px;
    font-size: 30px;
}
.abt{
    font-size: 50px;
    font-weight: bold;
}
.a_details{
    font-weight: bold;
    width: var(--container-width-sm);
}
.design1{
    width: var(--container-width-sm);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;
}
.web{
    background:linear-gradient(to right,#0b6a92,rgb(192, 165, 13));
    padding: 40px 60px;
    border-radius: 8px;
    box-shadow: 0 5px 0 0  rgb(195, 223, 36);
    /* width: 100%;
    height: 300px; */
    
}
.proj{
    background:linear-gradient(to right,#1e70b3,rgb(93, 172, 29));
    border-radius: 5px;
    width: var(--container-width-sm)
}
.hireme{
    background-color: rgb(3, 20, 36);
    width: 16%;
    margin-left: 200px;
    border-radius: 5px;
    cursor: pointer;
}
@media screen AND (max-width: 600px){
        #about{
            display: grid;
            margin-left: 50px;
            /* font-size: 10px; */
        }
        .a_details{
            font-weight: bold;
            width: var(--container-width-sm);
            font-size: 20px;
        }
        .design1{
            grid-template-columns: repeat(1, 1fr);
            gap: 4rem;
        }
        .hireme{
            width: 40%;
            margin-left: 60px;
        }
        
}
@media  (min-width:600px) AND (max-width: 1024px){
    #about{
        margin-left:30px;
    }
    /* .a_details{
       color: black;
    } */
    .design1{
        grid-template-columns: repeat(2, 1fr);
        gap: 4rem;
    }
    .proj{
        width: var(--container-width-md);
    }
    .hireme{
        width: 35%;
        margin-left: 60px;
    }
}
/* ===================services=================== */
#realworks{
    margin-left: 380px;
    margin-top: 150px;
    display: grid;
}
.works{
    font-weight: bold;
    font-size: 40px;
}
.services{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2em;
}
.serve1{
    margin-top: 60px;
    background:linear-gradient(to right,hsl(300, 2%, 64%),rgb(27, 48, 99));
    border: 4px solid rgb(236, 184, 14);
    width: var(--container-width-lg);
    padding: 10px;
    font-size: 20px;
    border-radius: 8px;
    box-shadow: 0 5px 0 0  rgb(195, 223, 36);
}
@media screen AND (max-width: 600px){
#realworks{
    margin-left: 50px;
    margin-top: 150px;
    display: grid;
}
.services{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 2em;
}
}
@media  (min-width:600px) AND (max-width: 1024px){
    #realworks{
        margin-left: 50px;
        margin-top: 150px;
        display: grid;
    }
    .services{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 2em;
    }
    .works{
        font-size: 28px;
    }
}

/* ==========================skills======================== */
#myski{
    margin-top: 150px;
    margin-left: 380px;
    display: grid;
}
.headerskills{
    font-size: 40px;
    font-weight: bold;
    /* margin-left: 200px; */
}
.skillsContainer{
    font-size: 20px;
}
.indetailsskills{
    margin-top: 60px;
    background:linear-gradient(to right,#0b6a92,rgb(192, 165, 13));
    width: 18%;
    font-size: 30px;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
}
    @media screen AND (max-width: 600px){
        #myski{
            margin-left: 50px;
            display: grid;
        } 
        .indetailsskills{
            width: 55%;
        }
        .headerskills{
            font-size: 30px;
            font-weight: bold;
            /* margin-left: 200px; */
        }
        .skillsContainer{
            font-size: 15px;
        }
    }
@media  (min-width:600px) AND (max-width: 1024px){
    #myski{
        margin-left: 50px;
        display: grid;
    }
    .indetailsskills{
        width: 25%;
    }
}
/* ==============================works======================= */
#mywork{
    margin-left: 380px;
    margin-top: 150px;
    display: flex;
    /* gap: 10px; */

}
.titlework{
    font-size: 40px;
}
.workcontainer{
    display: grid;
}
.workphoto{
    margin-left: 20px;
    margin-top: 100px;
}
.workphoto img{
    width: 90%;
    height: 300px;
    border-radius: 8px;
}
.develop{
    font-size: 35px;
}
.indepth{
    font-size: 20px;
}
.gitlink{
    font-size: 20px;
}
.gitlink a{
    cursor: pointer;
    color: #0b6a92;
}
@media screen AND (max-width: 600px){
    #mywork{
        margin-left: 50px;
        margin-top: 150px;
        display: grid;
        /* gap: 10px; */
    
    }
    .workphoto{
        margin-left: 0px;
        margin-top: 100px;
    }
    .develop{
        font-size: 20px;
    }
    .indepth{
        font-size: 15px;
    }
    .gitlink{
        font-size: 15px;
    }
}
@media  (min-width:600px) AND (max-width: 1024px){
    #mywork{
    margin-left: 50px;
    width: var(--container-width-md);
    }
}

/* =====================blogs==================== */
#blogs{
    margin-left: 380px;
    margin-top: 200px;
    display: grid;
    gap: 10px;
}
.esd{
    font-size: 40px;
    font-weight: bold;
}
.blogcontainer{
    margin-top: 60px;
    /* background:linear-gradient(to right,#b14ac5,rgb(72, 99, 185)); */
    border-radius: 8px;
    background:linear-gradient(to right,hsl(300, 9%, 63%),rgb(27, 48, 99));
    border: 4px solid rgb(236, 184, 14);
    padding: 10px;
    width: var(--container-width-lg);
}
.bloglowercontainer{
    margin-top: 30px;
    display: flex;
    gap: 25px;
}
.mainblog{
    font-size: 20px;
}
.readmore span{
    padding-left: 10px;
    font-size: 20px;
    cursor: pointer;
}
.comment .fa-comment{
    font-size: 30px;
    cursor: pointer;
}
.share .fa-share-nodes{
    font-size: 30px;
    cursor: pointer;

}
.maincontainer{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1em;
}
@media screen AND (max-width: 600px){
    #blogs{
    margin-left: 50px;
    }
    .maincontainer{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 1em;
    }
}

@media  (min-width:600px) AND (max-width: 1024px){
    #blogs{
        margin-left: 50px;
        }
        .readmore span{
            padding-left: 10px;
            font-size: 13px;
            cursor: pointer;
        }
}

/* ====================contact me====================== */
#getin{
    margin-left: 380px;
    margin-top: 150px;
    display: flex;

}
.getinto{
    font-size: 40px;
    font-weight: bold;
}
.anyemail{
    background:linear-gradient(to right,hsl(300, 6%, 6%),rgb(27, 48, 99));
    padding: 50px;
    border-radius: 9px;
    border: 4px solid rgb(236, 184, 14);
}
.container1{
    margin-left: 20px;
    margin-top: 220px;
    width: 75%;
}
#form {
    /* width: 100%; */
    padding: 20px;
    background:linear-gradient(to right,hsl(300, 6%, 6%),rgb(27, 48, 99));
    border-radius: 4px;
    font-size: 12px;
    border-radius: 9px;
    border: 4px solid rgb(236, 184, 14);
}
#form button {
    padding: 10px;
    margin-top: 10px;
    margin-left: 200px;
    width: 40%;
    color: white;
    background:linear-gradient(to right,hsl(221, 68%, 46%),rgb(27, 48, 99));
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.input-control {
    display: flex;
    flex-direction: row;
    padding-top: 10px;
}
.input-control textarea{
    border: 2px solid #f0f0f0;
	border-radius: 4px; 
    background-color: #2c98f0 transparent;
    border-color: #2c98f0;
    width: 100%;
}
.input-control input {
    border: 2px solid #f0f0f0;
	border-radius: 4px;
	display: block;
	font-size: 12px;
	padding: 10px;
	width: 100%;
    border-color: #2c98f0;
    background-color: #2c98f0 transparent;
}
.input-control input:focus {
    outline: 0;
}
.input-control.success textarea {
    border-color:green;
    border-width: 5px;
}

.input-control.error textarea {
    border-color: #ff3860;
}

.input-control.success input {
    border-color:green;
    border-width: 5px;
}

.input-control.error input {
    border-color: #ff3860;
}

.input-control .error {
    color: #ff3860;
    font-size: 13px;
    height: 13px;
}
@media screen AND (max-width: 600px){
#getin{
    margin-left: 50px;
    margin-top: 150px;
    display: grid;
    gap: 10px;
}
.anyemail{
    padding: 10px;
    width: var(--container-width-sm);
    /* width: 70%; */
}
.container1{
    margin-top: 10px;
    width: var(--container-width-sm);
    margin-left: -10px;
}
.getinto{
    font-size: 20px;
    font-weight: bold;
}
#form button {
    margin-left: 20px;
}
}
@media  (min-width:600px) AND (max-width: 1024px){
    #getin{
        margin-left: 50px;
    }
    .container1{
        width: 58%;
    }
}

/* =============================footer======================== */
.lowfooter{
    margin-left: 400px;
    margin-top: 100px;
}
.social{
    font-size: 20px;
    text-align: center;
}
.socialmedia{
    display: flex;
    gap: 30px;
    margin-left: 40%;
}
.fa-facebook-f{
    font-size: 50px;

}
.fa-linkedin-in{
    font-size: 50px;
}
.fa-whatsapp{
    font-size: 50px;
}
@media screen AND (max-width: 600px){
    .lowfooter{
        margin-left: 50px;
    }
    .socialmedia{
        display: flex;
        gap: 30px;
        margin-left: 30%;
    }
}

@media  (min-width:600px) AND (max-width: 1024px){
.lowfooter{
    margin-left: 50px;
}
}